@page "/fetchdata"
@inherits BaseCRUDPage
@using System.ComponentModel.Design.Serialization


@if (_forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    if (_selectedItem != null)
    {
        <Detail TDetail="WeatherForecastDetail" Title="Summary"
        Item="_selectedItem"
        OnCancel="Cancel" OnSave="SaveItem">

            @*Custom name for 'context' *@
            @*<Fields Context="contesto">
                <TextBox Label="Summary" @bind-Value="contesto.Summary" />
                <DatetBox Label="Date" @bind-Value="contesto.Date" />
                <NumberBox Label="Temperature (C)" @bind-Value="contesto.TemperatureC" />
            </Fields>*@

            <Fields>
                <TextBox Label="Summary" @bind-Value="context!.Summary" />
                <DatetBox Label="Date" @bind-Value="context!.Date" />
                <NumberBox Label="Temperature (C)" @bind-Value="context!.TemperatureC" />
            </Fields>
        </Detail>
    }
    else
    {
        <Grid TGrid="WeatherForecastListItem" Items="_forecasts" OnEdit="Edit" OnDelete="Delete" OnCreate="Create" />
    }
}
