@page "/fetchdata"
@using Grocery.Shared
@using Grocery.UI
@inherits BaseCRUDPage<WeatherForecastListItem ,WeatherForedastDetails,int>


@if (page == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    if (_selectedItem != null)
    {
        <Detail TDetail="WeatherForedastDetails" Title="Summary"
        Item="_selectedItem"
        OnCancel="Cancel" OnSave="SaveItem">

            @*Custom name for 'context' *@
            @*<Fields Context="contesto">
                <TextBox Label="Summary" @bind-Value="contesto.Summary" />
                <DatetBox Label="Date" @bind-Value="contesto.Date" />
                <NumberBox Label="Temperature (C)" @bind-Value="contesto.TemperatureC" />
            </Fields>*@

            <Fields>
                <TextBox Label="Summary" @bind-Value="context!.Summary" />
                <DatetBox Label="Date" @bind-Value="context!.Date" />
                <NumberBox Label="Temperature (C)" @bind-Value="context!.TemperatureC" />
            </Fields>
        </Detail>
    }
    else
    {
        <Grid IdType="int" TGrid="WeatherForecastListItem"  
            Page="page" 
            OnEdit="Edit" OnDelete="Delete" OnCreate="Create" />
    }
}
