@page "/fetchdata"
@inject IDataService _DataService

@if (_forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    if (_selectedItem != null)
    {
        <Detail Item="_selectedItem" OnCancel="Cancel" OnSave="SaveItem"></Detail>
    }
    else
    {
        <Grid Forecasts="_forecasts" OnEdit="Edit" OnDelete="Delete" OnCreate="Create"/>
    }
}

@code {
    private List<WeatherForecastListItem>? _forecasts;
    private WeatherForecastDetail? _selectedItem = null;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await _DataService.GetWeatherForecastAsync();
    }

    private void Edit(WeatherForecastListItem selected)
    {
        _selectedItem = new WeatherForecastDetail() 
            { 
                Date = selected.Date, 
                TemperatureC = selected.TemperatureC,
                Summary = "n.a. in list"
            };
    }

    private void Delete(WeatherForecastListItem selected)
    {
        _forecasts?.Remove(selected);
        _selectedItem = null;
    }

    private void Cancel()
    {
        _selectedItem = null;
    }

    private void SaveItem(WeatherForecastDetail item)
    {
        // _forecasts!.Add(item);
        _selectedItem = null;
    }

    private void Create()
    {
        _selectedItem = new WeatherForecastDetail()
        {
            Date = new DateTime(),
            Summary = "n.a.",
            TemperatureC = 0
        };
    }

}