@page "/fetchdata"
@inject IDataService _DataService

@if (_forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    if (_selectedItem != null)
    {
        <Detail Item="_selectedItem" OnCancel="Cancel" OnSave="SaveItem"></Detail>
    }
    else
    {
        <Grid Forecasts="_forecasts" OnEdit="Edit" OnDelete="Delete" OnCreate="Create"/>
    }
}

@code {
    private List<WeatherForecast>? _forecasts;
    private WeatherForecast? _selectedItem = null;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await _DataService.GetWeatherForecastAsync();
    }

    private void Edit(WeatherForecast selected)
    {
        _selectedItem = new WeatherForecast() { Date = selected.Date, Summary = selected.Summary, TemperatureC = selected.TemperatureC };
    }

    private void Delete(WeatherForecast selected)
    {
        _forecasts?.Remove(selected);
        _selectedItem = null;
    }

    private void Cancel()
    {
        _selectedItem = null;
    }

    private void SaveItem(WeatherForecast item)
    {
        _forecasts!.Add(item);
        _selectedItem = null;
    }

    private void Create()
    {
        _selectedItem = new WeatherForecast();
    }

}