@page "/fetchdata"
@inject IDataService _DataService
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <Grid Forecasts="_forecasts" OnEdit="Edit" OnDelete="Delete"/>

    if (_selectedItem != null)
    {
        <Detail Item="_selectedItem"></Detail>
    }
}

@code {
    private WeatherForecast[]? _forecasts;
    private WeatherForecast? _selectedItem = null;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await _DataService.GetWeatherForecastAsync();
    }

    private void Edit(WeatherForecast selected)
    {
        _selectedItem = selected;
    }

    private void Delete(WeatherForecast item)
    {
        var newarray = _forecasts?.Where(el => (el.Summary != item.Summary
                                               && el.Date != item.Date
                                               && el.TemperatureC != item.TemperatureC)).ToArray<WeatherForecast>();
        _forecasts = newarray;
        _selectedItem = null;
    }

}