@page "/fetchdata"
@inject IDataService _DataService
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid Forecasts="_forecasts" OnEdit="Edit"/>

    if (_selectedItem != null)
    {
        <Detail Item="_selectedItem"></Detail>
    }
    
}

@code {
    private WeatherForecast[]? _forecasts;
    private WeatherForecast? _selectedItem = null;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await _DataService.GetWeatherForecastAsync();
    }

    private void Edit(WeatherForecast selected)
    {
        _selectedItem = selected;
        // Console.WriteLine(selected.Summary);
    }
}
