@page "/stepper"
<h3>Stepper</h3>

<PageTitle>Stepper</PageTitle>


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    
}