@typeparam TDetail
<h3>Detail of @this._valueTitle</h3>

<EditForm Model="@Item" OnValidSubmit="@(() => OnSave.InvokeAsync(Item))">
    <DataAnnotationsValidator />
   
    @Fields

    <button type="button" class="btn btn-default" @onclick="OnCancel">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public string? Title { get; set; } 
    [Parameter]
    public RenderFragment? Fields { get; set; }

    [Parameter]
    public TDetail? Item { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<TDetail> OnSave { get; set; }

    private string? _valueTitle;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (!string.IsNullOrEmpty(Title))
        {
            this._valueTitle = typeof(TDetail)?.GetProperty(Title)?.GetValue(Item)?.ToString();
        }else
        {
            this._valueTitle = null;
        }
    }
}