<h3>Detail of @Item?.Summary</h3>

<EditForm Model="@Item" OnValidSubmit="@(() => OnSave.InvokeAsync(Item))">
    <DataAnnotationsValidator />
   
    @Fields

    <button type="button" class="btn btn-default" @onclick="OnCancel">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public RenderFragment? Fields { get; set; }

    [Parameter]
    public WeatherForecastDetail? Item { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<WeatherForecastDetail> OnSave { get; set; }
}